* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  margin: 2rem auto;
  padding: 4rem ;
  font-size: 1.3rem;
  width: 1024px;
  text-align: center;
  box-shadow: 5px 1px 10px 5px rgba(0, 0, 0, .3);
}

.container {
  margin: 4rem;
  font-size: 3rem;
  border: 2px solid #ccc;
  padding: 1rem;
}

.container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

.container form select {
  width: 4rem;
}



.todas-moedas,.moedas-geral .titulo-moedas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
}